# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
/images/**/*

/imagesFlower/**/*
/imagesGoods/**/*
/imagesTotal/**/*
/imagesLayout/**/*
zipFlower.zip
zipGoods.zip
zipTotal.zip
zipLayout.zip



node_modules
dist
dist-ssr
dist-electron
/dist-electron/**/*
release
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
