.btnCon {
  text-align: center;
}

.min-h-screen {
  width: 100%;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.p-24 {
  padding: 24px;
}

.btnCon {
  padding-left: 160px;
  text-align: left;
}

.ml-20 {
  margin-left: 20px;
}
